body {
  margin: 0px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
main {
  height: 100%;
  height: 100vh;
}
.banner {
  background: #88c140;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner img {
  mix-blend-mode: color-burn;
  width: 400px;
}
.banner p {
  font-size: 43px;
  font-weight: bold;
  color: white;
  margin: 0;
  font-family: monospace;
  margin-top: -18px;
}
/* guideline-container start */
.guideline-container {
  display: flex;
}
.section-container {
  flex-direction: column;
  padding: 44px 47px 21px 80px;
  width: calc(100% - 350px);
}
.danger {
  color: red!important;
}
.guideline-container span {
  color: #bf2525;
  font-weight: bold;
}
.guideline-container section h1 {
  font-size: 20px;
  color:#3f6998;
  margin: 15px 0px 15px 0px;
  font-family: 'Exo 2', sans-serif;
}
.guideline-container section h3 {
  color:#3f6998;
  font-size: 18px;
}
code {
  background: #171515ed;
  color: #9eff28;
  display: block;
  padding: 12px 12px 24px 30px;
  font-size: 15px;
  line-height: 1.5;
}
code p {
  color: white!important;
  line-height: 2.3!important;
  font-size: 16px!important;
  margin: 0;
}
.guideline-container section p , .section-container li {
  font-size: 14px;
  line-height: 1.8;
  color: #211f1f;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* guideline-container end */

/* article start */
article ul li {
  list-style: none;
  font-size: 14px;
  margin-left: 23px;
}

article {
  width: 350px;
  line-height: 1.8;
  background: #b7b7b754;
  margin-top: 10px;
}
.article-order {
  padding: 31px 22px 31px 42px;
  position: sticky;
  top: 2rem;
}
article b {
  font-size: 17px;
  font-family: 'Exo 2', sans-serif;
  line-height: 2;
  color: #211f1f;
}
article a {
  text-decoration: none;
}
.sub-menu {
  padding: 0;
}
.sub-menu a {
  color: #211f1f;
}
.author {
  display: flex;
  align-items: center;

}
.author-image {
  width: 70px;
  height: 70px;
  margin-right: 12px;

}
.author-image img {
  width: 100%;
  border-radius: 50%;
}

/* article end */
/* responsive design start */
@media only screen and (max-width: 768px) {
  .guideline-container section,
  .guideline-container article {
    width: 100%;
    padding: 0px 0px 0px 0px!important;
  }
  pre {
    overflow-x: scroll;
  }
  .guideline-container {
    flex-direction: column;
  }
  .guideline-container section {
    padding: 0px 20px 21px 20px;
  }
  .guideline-container article {
    padding: 0px 20px 21px 20px;
  }
  .article-order {
    padding: 4px 0px 3px 12px;
  }
  .section-container {
    width: 93%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 12px;
  }
  .banner {
    height: 254px;
  }
  .banner img {
    width: 275px;
  }
  .banner p {
    font-size: 38px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .guideline-container section {
    padding: 0px 20px 21px 0px;
  }
  .guideline-container article {
    padding: 0px 20px 21px 20px;
  }
  pre {
    overflow-x: scroll;
  }
}
/* responsive design end */





